body {
}
.parrafo {
    font-family: Arial;
    padding-top: 20px;
}
.container {
    text-align: center;
    font-family: Arial;
}

.tabla {
    display: table; 
    width:100%; 
    border: 1px solid gray;  
}

.fila {
    display: table-row;
    text-align: center; 
}

.titulo {
    font-size: 30px;
    padding-top: 20px;
    border: 1px solid gray;
}

.subtitulo {
    border: 1px solid gray;
}

.tablaForm {
    display: table;
    text-align:center;
    font-family: Arial;
}

.casilla {
    display: table-row;
    width: 100%;
}

.filaForm {
    display: table-cell;
    width: 80%;
    text-align:right;
    margin: 5px;
}

.celda {
    display: table-cell;
    text-align: right;
    width: 80%;
}

.cabeceraRes {
    text-align:center;
}

.validar {
    text-align: center;
}

